.windowPane {
    height: 500px;
    width: 500px;
    /* overflow:hidden; */
    margin: 10px;
}

.infoCard {
    margin-top: 10px;
    visibility: hidden
}

.showKeysDiv {
    visibility: visible;
}

.responsePane {
    visibility: hidden;
    margin-top: 10px;
}

.post-options {
    
    display: none
}

.jsonText {
    width: 500px;
    height: 300px;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.8rem;
    line-height: 1.2;

    overflow: scroll;
  }